/*
.wrapper {
  width: 968px;
  height: 100%;
  margin: 0 auto;
  padding: 0 46px 0 40px;
}

.header {
  padding-top: 50px;
  margin-bottom: 40px;
}
.menu {
  overflow: hidden;
  margin-top: 30px;
	background: linear-gradient(to bottom, #5e5e5e 0%,#444343 100%);
}
.menu li {
  float: left;
  margin: 0 1px;
  list-style: none;
}
.menu a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
  padding: 0 40px;
  line-height: 40px;
}
.menu li:hover {
  margin: 0;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  background: linear-gradient(to bottom, #4a4a4a 0%,#2e2e2e 100%);
}*/

/*.sidebar{
  float: left;
  width: 240px;
}
.sidebar-menu{
  border: 1px solid #c8c8c8;
  background: white;
}
.sidebar-menu li:first-child {
  border: none;
}
.sidebar-menu li{
  border-top: 1px solid #c8c8c8;
  list-style: none;
}
.sidebar-menu a{
  display: block;
  padding-left: 23px;
  color: #656363;
  font-size: 14px;
  line-height: 37px;
  text-decoration: none;
  transition:  0.2s linear;
}
.sidebar-menu a:hover{
  padding-left: 35px;
  color: black;
  background: #f9f9f9;
}
.product{
  float: right;
  width: 680px;
}
.product-image{
  border: 1px solid #c8c8c8;
  background: transparent;
  text-align: center;
  padding: 40px 0;
}
.product-description {
  padding: 30px 22px 0 22px;
  line-height: 21px;
  font-size: 14px;
  color: #2c2c2c;
}*/


* {
  margin: 0;
  padding: 0;
}
body {

  background: linear-gradient(to bottom, #3283A6, #205F8F);
  font-family: sans-serif;
  background-image: url(../img/bg.jpg);
  background-repeat: repeat-x;
  background-position: 0 -38px;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
}
.wrapper {
  width: 968px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 0px 7px 0px rgba(85,85,85,1);*/
}
.header {
  height: 175px;
  background-color: red;
}
.logo {
  color: #128aa7;
}
.contacts {
  float: right;
  width: 200px;
}
.countres {
  float: right;
}
.image {
  background-color: black;
  height: 235px;
}
.menu {
  height: 28px;
  background-color: yellow;
}
.content {
  height: 545px;
  background-color: cyan;
}
.block {
  float:left;
  min-height: 100%;
  width: 208px;
  margin-right: 20px;
  background: green;
}
.info {
  float: left;
}
.news {
  float: right;
  margin-right:0;
}
.footer {
  height: 31px;
  background-color: blue;
  color: white;
}
