/*
.sidebar{
  float: left;
  width: 240px;
}
.sidebar-menu{
  border: 1px solid #c8c8c8;
  background: white;
}
.sidebar-menu li:first-child {
  border: none;
}
.sidebar-menu li{
  border-top: 1px solid #c8c8c8;
  list-style: none;
}
.sidebar-menu a{
  display: block;
  padding-left: 23px;
  color: #656363;
  font-size: 14px;
  line-height: 37px;
  text-decoration: none;
  transition:  0.2s linear;
}
.sidebar-menu a:hover{
  padding-left: 35px;
  color: black;
  background: #f9f9f9;
}
.product{
  float: right;
  width: 680px;
}
.product-image{
  border: 1px solid #c8c8c8;
  background: transparent;
  text-align: center;
  padding: 40px 0;
}
.product-description {
  padding: 30px 22px 0 22px;
  line-height: 21px;
  font-size: 14px;
  color: #2c2c2c;
}*/

* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to bottom, #3283A6, #205F8F);
  background-image: url(../img/bg.jpg);
  background-repeat: repeat-x;
  background-position: 0 -38px;
  font-family: Tahoma, sans-serif;
}
.clearfix {
	clear: both;
}
.wrapper {
  width: 1000px;
  overflow: hidden; /* Выталкивает всё, что не входит в wrapper */
  margin: 0 auto;
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
  border-bottom: 3px solid #000;
}

.header {
  height: 175px;
  background-color: #fff;
  color: #128aa7;
}
.header a {
  color: #128aa7;
}
.logo {
	float: left;
	margin-top: 11px;
	margin-left: 28px;
	line-height: 0;
}
.header-right-side {
  float: right;
}
.contacts {
  float: right;
  padding: 8px 34px 0 0;
  font-size: 12px;
}
.contacts li {
  list-style: none;
}
.contacts li:first-child {
  font-weight: bold;
  padding-bottom: 4px;
}
.contacts li {
  line-height: 17px;
}
.contacts a {
  text-decoration: none;
}

.countres {
  float: right;
  padding: 30px 28px 9px 0;
  list-style: none;
  font-size: 10px;
}
.countres li {
  display: block;
  width: 56px;
  float: left;
  text-align: center;
}
.countres a:hover {
  text-decoration: none;
}

.image {
  height: 237px; /*смущает вот этот момент – пришлось подгонять размер картинки, чтобы стал виден нижний boreder */
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
}
.menu {
  overflow: hidden;
  height: 28px;
  background-color: yellow;
	background: linear-gradient(to bottom, #373737 0%, #303030 100%);
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid #000;
  /* Как отобразить тень поверх блоков ниже? */
  box-shadow: 0 40px 40px;
}
.menu li {
  float: left;
  margin: 0 1px;
  list-style: none;
  /* Как растянуть пунты по ширине? */
}
.menu a {
  display: block;
  padding: 0 40px;
  font-size: 14px;
  line-height: 28px;
  color: white;
  text-decoration: none;
}
/*
.menu li:hover {
  margin: 0;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  background: linear-gradient(to bottom, #4a4a4a 0%,#2e2e2e 100%);*/

.content {
  height: 545px;
  background-color: #fff;
}
.block {
  float:left;
  min-height: 100%;
  width: 170px;
  padding: 9px 24px 0 15px;
  font-size: 14px;
  background: #edeef0;
  border-left: 1px solid #c7cacf;
  border-right: 1px solid #c7cacf;
}
h3 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 3px;
}
.info {
  float: left;
  line-height: 24px;
}
.news {
  float: right;
  margin-right: 0;
  line-height: 24px;
}
.footer {
  height: 31px;
  font-size: 12px;
  color: #fff;
  line-height: 31px;
  text-align: center;
}
