* {
  margin: 0;
  padding: 0;
}
body {
  background: #0c739f;
  background-image: url(../img/bg.jpg);
  background-repeat: repeat-x;
  background-position: 0 -38px;
  font-family: Tahoma, sans-serif;
}
.clearfix {
  content: '.';
  display: block;
  clear: both;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-bottom: 2px solid #000;
}

.header {
  height: 175px;
  background-color: #fff;
  color: #128aa7;
}
.header a {
  color: #128aa7;
}

.logo a:visited {
  color: #128aa7;
}
/* Эксперемент – логотип из картинки и текста */
.logo {
	float: left;
  height: 175px;
  width: 320px;
  background: url(../img/logo2.png) no-repeat 28px 11px;
}
/*  Не эксперемент – логотип одной картинкой
.logo {
	float: left;
	margin-top: 11px;
	margin-left: 28px;
	line-height: 0;
}*/
.logo a {
  display: block;
  line-height: 175px;
  padding-top: 29px;
  /*color: #128aa7;*/
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.header-right-side {
  float: right;
}
.contacts {
  float: right;
  padding: 8px 34px 0 0;
  font-size: 12px;
}
.contacts li {
  list-style: none;
}
.contacts li:first-child {
  font-weight: bold;
  padding-bottom: 4px;
}
.contacts li {
  line-height: 17px;
}
.contacts a {
  text-decoration: none;
}

.countres {
  float: right;
  padding: 30px 28px 9px 0;
  list-style: none;
  font-size: 10px;
}
.countres li {
  display: block;
  width: 56px;
  float: left;
  text-align: center;
}
.countres a:hover {
  text-decoration: none;
}

.image {
  height: 237px; /*смущает вот этот момент – пришлось подгонять размер картинки, чтобы стал виден нижний border */
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
}

.menu {
  position: relative;
  overflow: visible;
  height: 28px;
  background: #373737;
	background: linear-gradient(to bottom, #373737 0%, #303030 100%);
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid #000;
  box-shadow: 0 0px 8px 0px rgba(0,0,0,0.75);
}
.menu ul {
 display: none;
}
.menu li {
  position: relative;
  float: left;
  padding: 0 30px;
  list-style: none;
  cursor: pointer;
  /*  */
  z-index: 1;
  /*  */
}
.menu > li:first-child {
  padding-left: 65px;
}
.menu a {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
}


/* */
.menu li ul {
	display: none;
	position: absolute;
	left: 15px;
	top: 30px;
	margin: 0;
	background:#303030;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}
.menu li:hover ul {
  display: block;
}
.menu li ul li {
	float: left;
	display: block;
}
/* */


.content {
  overflow: hidden;
  background-color: #fff;
}
.block {
  min-height: 100%;
  width: 170px;
  padding: 9px 24px 9px 15px;
  font-size: 14px;
  color: #000;
  background: #edeef0;
  border-left: 1px solid #c7cacf;
  border-right: 1px solid #c7cacf;
}
h3 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 3px;
}
.info {
  float: left;
  line-height: 24px;
}
.news {
  float: right;
  margin-right: 0;
  line-height: 24px;
}

.footer {
  color: #fff;
  font-size: 12px;
  line-height: 31px;
  text-align: center;
}
