* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: #80b0b0;
}
.clrfx {
  content: "";
  overflow: hidden;
  clear: both;
}
.items {
  margin: 5% auto;
  padding: 20px;
  width: 500px;
  text-align: center;
  background: #e5e7e8;
  background: -moz-linear-gradient(top, #e5e7e8 0%, #93a7b0 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e5e7e8), color-stop(100%, #93a7b0));
  background: -webkit-linear-gradient(top, #e5e7e8 0%, #93a7b0 100%);
  background: -o-linear-gradient(top, #e5e7e8 0%, #93a7b0 100%);
  background: -ms-linear-gradient(top, #e5e7e8 0%, #93a7b0 100%);
  background: linear-gradient(to bottom, #e5e7e8 0%, #93a7b0 100%);
  border-radius: 5px;
}
.item {
  display: inline-block;
  margin: 20px 14px 0;
  box-sizing: border-box;
  width: 140px;
  text-align: center;
}
.item:nth-child(3n) {
  margin-right: 0;
}
.item span {
  display: block;
  box-sizing: border-box;
}
.title {
  color: #206988;
  font-size: 15px;
}
.subtitle {
  color: #1f2528;
  font-size: 13px;
}
.price {
  color: #114165;
  font-size: 16px;
}
.item .image {
  position: relative;
  overflow: hidden;
  margin: 5px auto;
  padding: 5px;
  width: 130px;
  height: 120px;
  background: #ffffff;
  border-radius: 8px;
  /*border: 1px solid #000000;*/
}
.item img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
}
.item a {
  text-decoration: none;
}
.item:hover {
  transition: 0.3s background;
  background: #ffffff;
  border-radius: 8px;
}
.item:hover span {
  color: #000000;
  transition: 0.5s;
}
