/*Основа*/
* {
  margin: 0;
  padding: 0;
}
.clrfx {
  overflow: hidden;
}
body {
  font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}
header, footer, aside, nav, section, main, figure, figcaption {
  display: block;
}
.wrapper {
  margin: 0 auto;
  width: 910px;
}

/*Хедер*/
header {
  height: 54px;
  background: white;
}

/*Телефоны*/
.telephone {
  float: left;
  position: relative;
  padding-left: 32px;
  padding-top: 22px;
  padding-right: 16px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #5e696d;
  letter-spacing: 0.025em;
}
.telephone::before {
  display: inline;
  content: '';
  position: absolute;
  width: 22px;
  height: 21px;
  left: 7px;
  background: url("../img/telephone.png") 0 0 no-repeat;
}

/*Форма авторизации*/
.auth-form {
  float: left;
  margin-top: 17px;
  width: 495px;
  height: 26px;
  background: -webkit-linear-gradient(#1f6787 0%, #0c3357 100%);
  background: linear-gradient(#1f6787 0%, #0c3357 100%);
  box-shadow: inset 0px 1px #a6c3cf;
  box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.4);
  font-family: 'LucidaSansUnicode', Arial, sans-serif;
  font-size: 11px;
  line-height: 26px;
  border-radius: 4px;
}

/*Контейнер логина и пароля*/
.login-form {
  display: inline-block;
  position: relative;
}
/*Логин и пароль*/
#login,
#password {
  width: 105px;
  margin-left: 24px;
  padding-left: 4px;
  line-height: 13px;
  border-radius: 2px;
}
/*input#login::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 14px;
  height: 18px;
  top: 5px;
  left: 7px;
  background: url("../img/auth-user-icon.png") 0 0 no-repeat;
}*/
#password {
  margin-left: 6px;
}
input::-webkit-input-placeholder {
  color: #97a2a6;
 }
.auth-icon {
  display: inline-block;
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  background: url("../img/auth-user-icon.png") 5px 4px no-repeat;
}

/*Кнопки в форме авторизации*/
.signin,
.signup,
.lost-pass {
  padding-left: 5px;
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.signup {
  padding-left: 4px;
}
.lost-pass {
  color: #bfbfbf;
  text-decoration: underline;
  padding-left: 10px;
  letter-spacing: normal;
}
.signin:hover,
.signup:hover {
  text-decoration: underline;
}
.lost-pass:hover {
  text-decoration: none;
}
.separator {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1px;
  height: 10px;
  top: 26px;
  background: #ffffff;
}

/*Иконки: домой, карта сайта, обратная связь*/
.tools {
  float: left;
  position: relative;
  margin-top: 20px;
  margin-left: 17px;
  width: 75px;
  height: 19px;
  border: 1px solid #bdc4c7;
  border-radius: 50px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.4);
}
.tools a {
  display: inline-block;
  position: absolute;
  content: '';
  width: 14px;
  height: 11px;
}
.tool-home {
  left: 9px;
  top: 4px;
  background: url("../img/home.png") 0 0 no-repeat;
}
.tool-map {
  left: 29px;
  top: 4px;
  background: url("../img/map.png") 0 0 no-repeat;
}
.tool-mail {
  left: 51px;
  top: 5px;
  background: url("../img/mail.png") 0 0 no-repeat;
}
.main-img {
  display: block;
  height: 243px;
}

/*Меню*/
.menu {
  width: 908px;
  height: 33px;
  line-height: 30px;
  background-image: -webkit-linear-gradient(top, #576068 1px, #000000 10px);
  background-image: linear-gradient(to bottom, #576068 1px, #000000 10px);
  border: 1px solid #2c345a;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
}
.menu ul {
  list-style: none;
}
.menu a {
  float: left;
  padding: 0 15px;
  color: #b1bcc0;
  font-family: Lucida, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.menu a:hover {
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #25617B 0%, #0c3357 100%);
  background-image: linear-gradient(to bottom, #25617B 0%, #0c3357 100%);
  border-radius: 50px;
}
.menu li:first-child {
  margin-left: 125px;
}

/*Корзина в меню*/
.basket {
  float: right;
  color: #929b9f;
  font-size: 11px;
}
.basket-count {
  position: relative;
  padding-right: 13px;
  font-size: 12px;
  color: #0d5a8f;
}
.basket-count:nth-child(1)::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 21px;
  height: 17px;
  top: 1px;
  left: -75px;
  background: url("../img/basket.png") 0 0 no-repeat;
}
.basket-count:nth-child(2) {
  padding-left: 7px;
}

/*Блок фильтров*/
.filters {
  padding: 9px 7px 15px 5px;
}
.search-form {
  float: left;
  box-sizing: border-box;
  height: 135px;
  font-size: 12px;
  font-weight: 900;
  color: #154467;
  border-radius: 18px;
  border: 1px solid #9c9c9d;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
}
.filters span {
  position: relative;
  margin: 0 auto;
  color: #154467;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
}

/*Поиск по авто*/
.car {
  width: 413px;
  margin-right: 14px;
  padding: 0 14px 8px 13px;
}
.car-header {
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 4px;
}
.car-header span {
  position: relative;
  font-family: "Arial Black", arial, sans-serif;
}
.car-header span:nth-child(1) {
  float: left;
  padding-top: 5px;
  padding-left: 6px;
  font-size: 10px;
}
.car-header span:nth-child(2) {
  left: 0;
}
.car-header span:nth-child(3) {
  float: right;
  padding-top: 3px;
  padding-right: 6px;
  font-size: 10px;
}
.discs-selects,
.tyres-selects {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.discs-selects .label,
.tyres-selects .label {
  display: inline-block;
  width: 90px;
  font-size: 10px;
  color: #ff0000;
}
.discs-selects .label > span:nth-child(2),
.tyres-selects .label > span:nth-child(2) {
  padding: 0;
  color: #77858b;
  font-size: 9px;
  line-height: 9px;
}
.discs-selects select,
.tyres-selects select {
  /*display: inline-block;*/
  /*width: 30px;*/
  /*float: left;*/
}

/*Поиск шин*/
.tyre {
  width: 195px;
  margin-right: 10px;
  padding: 0 10px 8px 0;
}
.tyre span {
  text-align: left;
  padding-top: 2px;
  padding-left: 11px;
}

/*Поиск дисков*/
.disc {
  width: 266px;
  margin-right: 0px;
}
.disc span {
  text-align: left;
  padding-top: 2px;
  padding-left: 8px;
}

/*Контейнер с боковыми меню и товарами*/
.central-container {
  margin: 0 auto;
}
.left-menu,
.items,
.right-form {
  float: left;
  margin-right: 10px;
}
.left-menu,
.right-form {
  width: 180px;
  height: 400px;
}

/*Левое меню*/
.title-frst {
  position: relative;
  margin-bottom: 13px;
  height: 28px;
  box-sizing: border-box;
  border: 1px solid #79878d;
  border-radius: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #114165;
  padding: 3px 5px 3px 28px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.2);
}
.title-frst::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  top: 2px;
  left: 2px;
  background: url("../img/catalog-icon.png") 0 0 no-repeat;
}
.title-sec {
  display: block;
  position: relative;
  width: 150px;
  height: 28px;
  box-sizing: border-box;
  margin: 10px 0 3px;
  padding: 3px 5px 3px 28px;
  border: 1px solid #79878d;
  border-radius: 20px;
  line-height: 23px;
  font-size: 14px;
  color: #114165;
  text-transform: uppercase;
}
.title-sec::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 2px;
  background: url("../img/catalog-icon2.png") 0 0 no-repeat;
}
.left-menu li {
  margin-left: 50px;
  font-size: 13px;
  line-height: 20px;
  list-style: circle;
}
.left-menu a {
  color: #465961;
  text-decoration: none;
}
.left-menu a:hover {
  color: #0c3256;
  font: bold italic 14px Arial, sans-serif;
  letter-spacing: 1px;
  text-decoration: underline;
}

/*Блок с товарами*/
.items {
  padding: 10px;
  padding-bottom: 30px;
  width: 507px;
  text-align: center;
  background: #e5e7e8;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e5e7e8), color-stop(100%, #93a7b0));
  background: -webkit-linear-gradient(top, #e5e7e8 0%, #93a7b0 100%);
  background: linear-gradient(to bottom, #e5e7e8 0%, #93a7b0 100%);
  border-radius: 5px;
}
.item {
  display: inline-block;
  margin: 5px 14px 10px;
  box-sizing: border-box;
  width: 140px;
  text-align: center;
}
.item:nth-child(3n) {
  margin-right: 0;
}
.item span {
  display: block;
  box-sizing: border-box;
}
.title {
  height: 16px;
  color: #206988;
  font-size: 15px;
}
.subtitle {
  height: 17px;
  color: #1f2528;
  font-size: 13px;
}
.price {
  line-height: 25px;
  color: #114165;
  font: bold italic 14px sans-serif;
  /*font-weight: bold;
  font-style: italic;
  font-size: 14px;*/
}
.item .image {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 5px;
  width: 130px;
  height: 130px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #a4aeb1;
}
.item img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 120px;
}
.item a {
  text-decoration: none;
}
.item:hover {
  background: #ffffff;
  border-radius: 8px;
}
.item:hover .image {
  border: none;
}
.item:hover span {
  color: #000000;
}

/*Правое меню*/
.right-form {
  margin-right: 0px;
}
.right-form .title-sec {
  margin-left: 15px;
}
.right-form label {
  display: block;
  margin: 5px 0 5px 25px;
  font-size: 13px;
  line-height: 20px;
  list-style: circle;
}
.right-form span {
  padding-left: 8px;
  color: #465961;
  text-decoration: none;
  cursor: pointer;
}
.right-form span:hover {
  color: #0c3256;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
.right-form .btn-choose {
  display: block;
  margin: 10px 25px;
  width: 80px;
  height: 25px;
  padding: 3px 5px 5px;
  font-size: 11px;
  text-transform: uppercase;
  color: #e5e9ea;
  border-radius: 11px;
  border: 1px solid #a7abae;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(to bottom, #1f6787 0%, #0d3458 100%);
}

/*Бренды*/
.brands {
  margin: 0 auto;
  width: 710px;
  padding: 40px 0 10px;
}
.brands li {
  float: left;
  line-height: 40px;
  padding-right: 15px;
  list-style: none;
}
.brands li a {
  display: block;
}
.brands li img {
  vertical-align: top;
}

/*Подвал*/
footer {
  background: #213a4d;
  text-align: center;
  border: 1px solid #000000;
}
footer ul {
  display: inline-block;
  padding: 12px 0 5px;
}
footer li {
  float: left;
  line-height: 14px;
  padding-right: 12px;
  padding-left: 12px;
  list-style: none;
  border-right: 1px solid #bec6c9;
}
footer li:first-child {
  padding-left: 0;
}
footer li:last-child {
  border-right: none;
}
footer a {
  color: #bec6c9;
  font-size: 12px;
  text-decoration: none;
}
footer a:hover {
  color: #52abcb;
  font-size: 12px;
  text-decoration: none;
}
footer .copywrite {
  display: block;
  padding-bottom: 45px;
  color: #7f4740;
  font-size: 10px;
}
