* {
  margin: 0;
  padding: 0;
}
.clrfx {
  overflow: hidden;
}
@font-face {
  font-family: 'HelveticaNeue', sans-serif;
  src:url('../fonts/HelveticaNeue.ttf');
}
body{
  background: url(../img/bg.jpg) no-repeat top center #6d806a;
  font: 14px 'HelveticaNeue', Tahoma, Helvetica, Arial, sans-serif;
}
.wrapper {
  min-height: 100%;
}

/*Меню*/
.menu {
  overflow: hidden;
  height: 36px;
  line-height: 36px;
  background-color: #07508e;
}
.button.ola {
  float: right;
  margin-right: 20px;
  width: 190px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to bottom, #51b0dc 0%, #2e79c4 100%);
}
.button.ola:hover {
  background: linear-gradient(to top, #51b0dc 0%, #2e79c4 100%);
  text-decoration: underline;
  cursor: pointer;
}
.button.flag {
  float: right;
  border-left: 1px solid #56a2dc;
  /*Не нашел решения как сделать у рамки отступ сверху снизу на 2px*/
}
.button.flag img {
  vertical-align: middle;
  padding-right: 8px;
  position: relative;
  top: -2px;
}
.button.flag:hover {
  text-decoration: underline;
  background-color: #4eabda;
  cursor: pointer;
}
ul {
  float: right;
}
li {
  float: left;
  text-align: center;
  padding: 0 15px;
  list-style: none;
}
a {
  line-height: 31px;
  text-decoration: none;
  color: #ffffff;
}
.flag a {
  padding: 0 20px;
}
li:hover {
  background-color: #4eabda;
}

/*Форма*/
.forma {
  width: 560px;
  height: 500px;
  margin: 213px auto;
}
h3 {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);;
  text-align: center;
  padding: 19px 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 24px;
  margin-bottom: 2px;
}
form {
  background: rgba(0, 0, 0, 0.6);;
  padding-top: 36px;
  color: #ffffff;
}
/*Кнопка FB*/
.fb-submit {
  display: block;
  margin: 36px auto 0 auto;
  width: 276px;
  height: 34px;
  color: #ffffff;
  font-size: 14px;
  line-height: 34px;
  background: linear-gradient(to bottom, #3d5696 0%, #314172 100%);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  /*margin-bottom: 20px;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
}
/*.fb-submit span + */
.fb-text {
  display: inline;
  font-weight: bold;
  border: none;
}
/*.fb-submit::before {
  display: inline-block;
  content: '';
  width: 2px;
  height: 100%;
  vertical-align: middle;
  background: linear-gradient(to left, rgba(31,61,115,1) 0%,rgba(31,61,115,1) 50%,rgba(76,104,169,1) 51%,rgba(76,104,169,1) 100%);
}*/
.fb-submit::before {
  display: inline-block;
  content: '';
  width: auto;
  padding-right: 25px;
  margin-left: 10px;
  /*line-height: 33px;*/
  /*height: 30px;*/
  height: 100%;
  vertical-align: middle;
  background: url("../img/fb-btn.png") 0 5px no-repeat;
  border-right: 1px solid rgba(76,102,163,0.5);
}
/*.fb-submit img {
  position: relative;
  padding-left: 5px;
  padding-right: 25px;
  vertical-align: middle;
  top: -1px;
}*/
/*Другой вариант стрелки после текста*/
.fb-submit::after {
  display: inline-block;
  content: '';
  margin-left: 23px;
  line-height: 34px;
  width: 7px;
  height: 11px;
  vertical-align: middle;
  background: url("../img/l-arrow.png") 0 -2px no-repeat;
}
/*Разделитель*/
.line {
  display: block;
  text-align: center;
  margin: 32px auto 26px auto;
  width: 276px;
  text-align: center;
  color: #999999;
}
.line::before, .line::after {
  content: "";
  display: block;
  float: left;
  margin-top: 7px;
  margin-right: 5px;
  padding-right: 0;
  width: 44%;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #000000;
}
.line::after {
  float: right;
  margin-right: 0px;
  margin-left: 5px;
}
/*Инпуты*/
input {
  display: block;
  margin: 16px auto;
  padding: 0 20px;
  width: 236px;
  line-height: 36px;
  font: 14px;
  color: #fffbfb;
  color: red;
  background: #000000;
  border: none;
  border-bottom: 1px solid gray;
}
input {
  color: red;
}
input[submit] {
  width: 150px;
  background: linear-gradient(to bottom, #50aedb 0%, #2e7ac4 100%);
}
.btn-create {

}
/*Чекбокс*/
/*Кнопка создать аккаунт*/
.btn-create {
  width: 151px;
  color: #ffffff;
  font-weight: bold;
  border-top: 1px solid #67c6e6;
  border-bottom: none;
  border-radius: 3px;
  background: linear-gradient(to bottom, #50aedb 0%, #2e7ac4 100%);
}
.btn-create:focus {
  background: linear-gradient(to top, #50aedb 0%, #2e7ac4 100%);
}
/*Соглашение*/
.policy {
  display: block;
  margin: 20px auto 22px auto;
  text-align: center;
  color: #cccccc;
  font-size: 11px;
  line-height: 16px;
}
