* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font: 16px 'League Gothic', Arial, sans-serif;
}

a {
  text-decoration:none;
}

.page-header__inner,
.about__inner,
.comments-updates__inner,
.logos__inner,
.news__inner,
.page-footer__inner {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-header {
  position: relative;
  padding: 55px 0 66px;
  background: url(../img/bg.jpg) no-repeat center -23px;
}

.page-header__menu {
  margin: 0 auto;
  height: 55px;
  position: relative;
}

.page-header__overlay {
  position: absolute;
  height: 400px;
  width: 100%;
  top: 278px;
  background: rgba(0, 0, 0, 0.2);
}

.menu__logo {
  float: left;
  position: absolute;
  top: 0;
  width: 152px;
  height: 55px;
  background: url(../img/logo.png) no-repeat top left;
}

.main-nav {
  float: right;
  transition-duration: .7s;
}

.main-nav__item {
  float: left;
  margin: 16px 20px 0;
  padding: 0 5px;
  font-size: 24px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.main-nav__item:hover {
  color: ;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__item a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav__item:hover {
  border-bottom: 2px solid #edbfff;
}

.main-nav__item a:link {
  color:
}

.main-nav__item a:active {
  color:
}

.main-nav__item a:hover {
  color:
}

.main-nav__item a:visited {
  color:
}

.about {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #745083), color-stop(100, #322539));
  background-image: -webkit-linear-gradient(top, #745083 0%, #322539 100%);
  background-image: linear-gradient(to bottom, #745083 0%, #322539 100%);
  background-image: -moz-linear-gradient(top, #745083 0%, #322539 100%);
  background-image: -ms-linear-gradient(top, #745083 0%, #322539 100%);
  background-image: -o-linear-gradient(top, #745083 0%, #322539 100%);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.about__inner {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 42px 0 17px;
  max-width: 960px;
  overflow: hidden;
}

.about__block{
  float: left;
  position: relative;
  box-sizing: border-box;
  width: 33.33%;
  padding: 30px 20px 30px 64px;
  color: #fff;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.about__block:last-child {
  margin-right: 0;
}

.about__block img {
  position: absolute;
  left: 12px;
  top: 40px;
}

.about-heading {
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.about-text {
  display: block;
  height: 120px;
  padding-top: 3px;
  font: 16px/24px 'Open Sans Light', Arial, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about__block a {
  float: right;
  font-size: 18px;
  margin: 22px 0 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.about__block a:hover {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

.comments-updates {
  overflow: hidden;
  border-top: 1px solid #000;
  border-bottom: 1px solid #e6e6e6;
  background: #f9f9f9;
}

.comments-updates__inner {
  overflow: hidden;
  padding: 99px 17px 72px 23px;
}

.comments-inner {
  float: left;
  overflow: hidden;
  width: 50%;
  padding-right: 10px;
  position: relative;;
}

.comment {
  position: relative;
  height: 275px;
  margin: 1px 21px 0px 0px;
  padding: 25px 30px 25px 40px;
  background: #fff;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.comment-inner {
  overflow: hidden;
  height: 210px;
}

.comment::before {
  display: inline-block;
  content: '';
  position: absolute;
  height: 49px;
  width: 49px;
  top: 19px;
  left: -24px;
  background: url("../img/comments-pic.png") 0 0 no-repeat;
}

.comment::after {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -18px;
  right: 42px;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #fff transparent transparent;
  -webkit-filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.2));
}

.updates-inner {
  float: right;
  width: 50%;
  padding: 26px 0 0 27px;
}

.comment-heading,
.updates-heading {
  font-size: 30px;
  text-transform: uppercase;
}

.comment-heading span {
  color: #edbfff;
}

.comment-text {
  margin: 7px 0px 0px 0px;
  font: 16px/24px 'Open Sans Light', arial, sans-serif;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.pagination {
	float: right;
  display: block;
	margin: 22px 182px 0 0px;
	min-width: 20px;
	height: 15px;
	text-align: center;
}

.pagination ul {
	width:100%;
}

.pagination ul li{
  display: inline-block;
	position: relative;
  margin: 0 3px;
  top: 0px;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .9);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.pagination ul .active {
  background: #5A5A5A;
	border: 1px solid rgba(255, 255, 255, .9);
}

.update {
  margin: 14px 0 20px;
  color: #454545;
}

.update:nth-child(4) {
  margin-bottom: 0px;
}

.update-pic {
  float: left;
  margin-right: 12px;
}

.update-text {
  font: 16px 'Open Sans Light', arial, sans-serif;
}

.update-heading {
  font: 16px 'Open Sans Extrabold', arial, sans-serif;
}

.updates_link {
  float: right;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.logos {
  margin: 0 auto;
  padding: 0 300px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fefefe;
  background: #f9f9f9;
}

.logos__inner {
  overflow: hidden;
}

.logos__item {
  display: inline-block;
  position: relative;
  float: left;
  overflow: hidden;
  width: 16.666%;
  height: 118px;
  text-align: center;
}

.logos__item-img {
  display: inline;
  position: absolute;
  top: 50%;
  height: 65px;
  -webkit transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.news {
  background: #ececec;
}

.news__inner {
  overflow: hidden;
  padding: 93px 0;
}

.news__copywrite,
.news__item {
  float: left;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  width: 33.33%;
  height: 212px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.news__copywrite {
  padding-right: 30px;
}

.news__item {
  padding-left: 18px;
  padding-right: 22px;
}

.news__item:last-child {
  padding-left: 38px;
}

.news__logo {
  display: block;
  width: 152px;
  height: 55px;
  background: url(../img/logo.png) no-repeat 0 -10px;
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

.news__item-heading {
  font-size: 30px;
  text-transform: uppercase;
}

.news__item-text {
  display: block;
  height: 200px;
  overflow: hidden;
  font: 16px/25px 'Open Sans Light', Arial, sans-serif;
}

.news__copywrite-signature {
  font: italic 16px/25px serif;
}

.news__copywrite-text {
  margin-top: 7px;
  font: 16px/25px 'Open Sans Light', Arial, sans-serif;
}

.news__text {
  font: 16px/25px 'Open Sans Light', Arial, sans-serif;
}

.page-footer {
  background: url(../img/bg-footer.jpg) no-repeat center;
}

.page-footer__inner {
  height: 114px;
}

.page-footer__item {
  float: left;
  margin-right: 43px;
  line-height: 114px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.page-footer__item a {
  color: #fff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.page-footer__by-text {
  float: right;
  color: #fff;
  font: 12px/114px 'Open Sans Light', Arial, sans-serif;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.page-footer__by-text-bold {
  font-weight: bold;
}


@media all and (max-width: 900px) and (min-width: 760px) {

  .page-header {
    padding-bottom: 18px;
  }

  .page-header__inner {
    max-width: 768px;
    padding: 0 20px;
  }

  .menu__logo {
    float: left;
    position: relative;
  }

  .main-nav {
    float: left;
    margin-top: 15px;
    transition-duration: .7s;
  }

  .main-nav__item:first-child {
    margin-left: 0;
    padding-left: 0;
  }

  .page-header__overlay {
    top: 243px;
  }

  .about__inner {
    padding-bottom: 17px;
  }

  .about__block {
    padding-left: 82px;
  }

  .about-heading {
    font-size: 24px;
  }

  .about__block img {
    left: 25px;
  }

  .about__block a {
    margin-top: 31px;
  }

  .comments-inner {
    padding-left: 20px;
  }

  .comment {
    height: 265px;
  }

  .comment-heading {
    font-size: 24px;
    width: 100px;
  }

  .logos {
    padding: 0;
  }

  .news__inner {
    padding: 77px 20px;
  }

  .news__item-heading {
    font-size: 24px;
  }
}

@media all and (max-width: 759px) and (min-width: 480px) {

  .page-header__inner {
    max-width: 480px;
  }

  .menu__logo {
    display: block;
    float: none;
    margin-right: auto;
  }

  .main-nav {
    display: block;
    float: none;
    margin-top: 40px;
  }

  .main-nav__list {
    display: block;
    margin: 0 auto;
    width: 300px;
  }

  .main-nav__item {
    width: 246px;
    text-align: center;
  }

  .about__inner {
    min-width: 478px;
  }

  .about__block {
    /*width: 100%;*/
    height: 130px;
    padding: 30px 0 30px 70px;
  }

  .about__block:last-child {
    padding-right: 20px;
    /*padding-right: 0;*/
  }

  .about-heading {
    font-size: 24px;
  }

  .logos__item {
    width: 33.333%;
  }
}

@media all and (max-width: 479px) and (min-width: 0px) {

  .page-header__inner {
    max-width: 100%;
  }

  .menu__logo {
    display: inline-block;
    /*float: none;*/
    /*margin-right: auto;*/
    margin: 0 auto;
  }
}
